{
  "openapi": "3.1.0",
  "info": {
    "version": "1.2.0",
    "title": "Navixy Admin Panel API",
    "summary": "API calls for dealer, reseller, and account administration",
    "description": "This is an API reference for the Navixy Admin Panel API. Use these endpoints to authenticate a dealer session, read dealer information, manage activation codes, and read or update panel service, notification, and branding settings.\n\nThis specification covers every documented Admin Panel API resource family.\n\n**Parameters.** All parameters are documented in the JSON request body. The API also accepts the same parameters as form-encoded body fields or as query-string parameters, but those forms are not documented per operation. See the authentication guide for details.\n\n**Errors.** Detect an error by checking the HTTP status code: anything other than `200 OK` carries an error body with `success: false` and a `status.code` giving the API-level error code. The default error status is `400`, with some codes mapping to `402`, `403`, `404`, `409`, or `500`. Validation failures also include an `errors` array naming the offending parameter.",
    "contact": {
      "name": "Navixy support",
      "email": "support@navixy.com",
      "url": "https://www.navixy.com/contact/"
    },
    "license": {
      "name": "Apache 2.0",
      "identifier": "Apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.eu.navixy.com/v2",
      "description": "Navixy production server on European platform"
    },
    {
      "url": "https://api.us.navixy.com/v2",
      "description": "Navixy production server on American platform"
    },
    {
      "url": "https://api.me.navixy.com/v2",
      "description": "Navixy production server on Middle East platform"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Operations for authenticating a dealer into the Admin Panel, inspecting the permissions granted to the current session, and ending that session. All resources under the /panel/account/ path."
    },
    {
      "name": "Dealer",
      "description": "Operations for reading dealer information, managing activation codes, changing the dealer password, and reading or updating panel settings covering service configuration, notification originators, and branding images. All resources under the /panel/dealer/ path."
    },
    {
      "name": "Gateways",
      "description": "Email gateways a dealer can send notification mail through, either owned by the dealer or leased from the platform owner. All resources under the /panel/gateways/ path."
    },
    {
      "name": "Order",
      "description": "Equipment orders placed by the dealer. All resources under the /panel/order/ path."
    },
    {
      "name": "Subpaas",
      "description": "Sub-dealers, also called Sub-PaaS accounts: dealers operating underneath another dealer. Covers listing, reading, creating and updating them, changing their password, and opening a session as one. All resources under the /panel/subpaas/ path."
    },
    {
      "name": "Tariff",
      "description": "Service plans a dealer offers to its users, and the per-device-type defaults applied on device registration. Called plans in the interface and tariffs in the API paths. All resources under the /panel/tariff/ path."
    },
    {
      "name": "Timezone",
      "description": "The platform-wide list of supported time zones. All resources under the /panel/timezone/ path."
    },
    {
      "name": "Tracker",
      "description": "Devices belonging to the dealer, their clones, settings, and plans. All resources under the /panel/tracker/ path."
    },
    {
      "name": "User",
      "description": "End users belonging to the dealer: their profiles, sessions, balance transactions, menu presets, and multi-factor authentication settings. All resources under the /panel/user/ path."
    }
  ],
  "paths": {
    "/panel/account/auth": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Authenticate dealer",
        "description": "Authenticate a dealer into the Admin Panel and obtain a session hash. This is the only Admin Panel operation that requires no existing session and no permissions. The returned hash is the credential for every other operation, and the response also reports the full permission set granted to the session, so a client can discover what it is allowed to do without a second call.",
        "operationId": "accountAuth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "password"
                ],
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "The panel login. Numeric in Navixy-hosted installations.",
                    "example": "20410"
                  },
                  "password": {
                    "type": "string",
                    "description": "The panel password.",
                    "format": "password",
                    "example": "12f@14Y$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "hash": {
                      "type": "string",
                      "description": "The session key. Pass it in the `Authorization` header as `NVX <hash>` on all subsequent requests.",
                      "readOnly": true,
                      "example": "fa7bf873fab9333144e171372a321b06"
                    },
                    "permissions": {
                      "$ref": "#/components/schemas/PanelPermissions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Access denied, error code 11: the dealer is blocked",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/account/get_permissions": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get account permissions",
        "description": "Return the permission set granted to the current panel session. Takes no parameters beyond the session credential. Use it to re-check permissions without re-authenticating, for example after a dealer's permissions have been changed by the platform owner.",
        "operationId": "accountGetPermissions",
        "responses": {
          "200": {
            "description": "Permissions of the current session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "permissions": {
                      "$ref": "#/components/schemas/PanelPermissions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/account/logout": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Log out",
        "description": "End the current panel session. The session hash is invalidated immediately and cannot be reused: any subsequent request with it, including another logout, fails with error code 4. Takes no parameters beyond the session credential.",
        "operationId": "accountLogout",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/get_info": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Get dealer info",
        "description": "Read information about the authorized dealer: PaaS plan and its service prices, balance, active tracker counts and limits, branding paths, block status, enabled features, and defaults applied to newly created users. Takes no parameters beyond the session credential. Note that the dealer fields are returned at the top level of the response rather than nested under a `value` key.",
        "operationId": "dealerGetInfo",
        "responses": {
          "200": {
            "description": "Dealer information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "`true` if request finished successfully.",
                          "readOnly": true,
                          "example": true
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/activation_code/create": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Create activation codes",
        "description": "Create a batch of activation codes bound to a plan. Activation codes let an end user register a device themselves and have it configured with the correct plan, bonus balance, and free period from the start. The plan referenced by `tariff_id` must belong to the current dealer. Returns the number of codes actually created, which can be lower than requested.",
        "operationId": "dealerActivationCodeCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "count",
                  "tariff_id",
                  "bonus_amount",
                  "free_days"
                ],
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "Number of codes to create.",
                    "example": 10,
                    "minimum": 1
                  },
                  "tariff_id": {
                    "type": "integer",
                    "description": "ID of the plan the new codes apply. Must belong to the current dealer.",
                    "example": 12457
                  },
                  "bonus_amount": {
                    "type": "integer",
                    "description": "Bonus amount added to the user's balance when a device is activated with one of these codes.",
                    "example": 3
                  },
                  "free_days": {
                    "type": "integer",
                    "description": "Number of free days granted on activation.",
                    "example": 5,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Codes created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of codes actually created.",
                      "readOnly": true,
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/activation_code/list": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "List activation codes",
        "description": "List the current dealer's activation codes, with optional text filtering, ordering, and pagination. When `filter` is used, a code is returned only if the filter string matches one of `code`, `tariff_id`, `device_id`, or `device_type`. Every parameter is optional; calling with no parameters returns the unfiltered list.",
        "operationId": "dealerActivationCodeList",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "string",
                    "description": "Text filter. Matched against `code`, `tariff_id`, `device_id`, and `device_type`.",
                    "example": "5248654776"
                  },
                  "order_by": {
                    "type": "string",
                    "description": "Field to order the list by.",
                    "enum": [
                      "code",
                      "activated",
                      "tariff_id",
                      "tariff_name",
                      "device_type",
                      "money_amount",
                      "bonus_amount",
                      "free_days"
                    ],
                    "example": "code"
                  },
                  "ascending": {
                    "type": "boolean",
                    "description": "Order direction. Ascending when `true`, descending otherwise.",
                    "default": true
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Starting offset, for pagination.",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of records to return, for pagination.",
                    "example": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activation codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "description": "The matching activation codes.",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/ActivationCode"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of matching records, ignoring `offset` and `limit`.",
                      "readOnly": true,
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/activation_code/update": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Update activation codes",
        "description": "Change the plan, bonus amount, and free period on a set of existing activation codes. A code is updated only if it is listed in `codes`, belongs to the current dealer, has not been activated yet, and has the same `device_type` as the new plan. Returns the number of codes actually updated, which can be lower than the number supplied.",
        "operationId": "dealerActivationCodeUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "codes",
                  "tariff_id",
                  "bonus_amount",
                  "free_days"
                ],
                "properties": {
                  "codes": {
                    "type": "array",
                    "description": "Codes to update.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "12315124",
                      "12451576"
                    ],
                    "minItems": 1
                  },
                  "tariff_id": {
                    "type": "integer",
                    "description": "ID of the new plan. Must belong to the current dealer.",
                    "example": 12457
                  },
                  "bonus_amount": {
                    "type": "integer",
                    "description": "New bonus amount.",
                    "example": 3
                  },
                  "free_days": {
                    "type": "integer",
                    "description": "New free period, in days.",
                    "example": 5,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Codes updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of codes actually updated.",
                      "readOnly": true,
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/password/update": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Update dealer password",
        "description": "Change the password of the authorized dealer.\n\n**All panel sessions for this dealer are deleted on success, including the one making the request.** The session hash stops working immediately and you must authenticate again to continue.\n\nThe new password must differ from the current one, must satisfy the dealer's complexity rules, and must not match any recently used password. The enforced rules are returned as `password_policy` by the dealer get info operation. Both values are trimmed and must contain printable characters only.",
        "operationId": "dealerPasswordUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "old_password",
                  "new_password"
                ],
                "properties": {
                  "old_password": {
                    "type": "string",
                    "description": "Current dealer password. Trimmed before comparison; printable characters only.",
                    "format": "password",
                    "example": "qwerty"
                  },
                  "new_password": {
                    "type": "string",
                    "description": "New dealer password. Must differ from the current one, satisfy the dealer's password policy, and not match a recently used password.",
                    "format": "password",
                    "example": "Hh6FXTt%E!Rx*%f3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/image/upload": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Upload branding image",
        "description": "Upload a branding image of the given type. Unlike every other Admin Panel operation, this one requires a `multipart/form-data` request, with the image supplied as a part named `file`. Branding must be enabled for the dealer's plan.\n\n`type` must be sent as a form part. Supplying it as a query parameter instead fails with error code 234.\n\nThe session credential travels in the `Authorization` header here exactly as it does on the JSON operations.\n\nIf `redirect_target` is supplied, the API answers `302` with a `Location` of `<redirect_target>?response=<urlencoded response json>` instead of returning the JSON body directly.",
        "operationId": "dealerSettingsImageUpload",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "file"
                ],
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/BrandingImageType"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file. Its MIME type must be one of `image/jpeg`, `image/pjpeg`, `image/png`, `image/gif`, `image/webp`, or `image/x-icon`. Use `image/x-icon` for the favicon type."
                  },
                  "redirect_target": {
                    "type": "string",
                    "description": "Optional URL to redirect to instead of returning the JSON response body.",
                    "format": "uri",
                    "example": "https://demo.navixy.com/branding"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "302": {
            "description": "Returned instead of `200` when `redirect_target` is supplied. The `Location` header is `<redirect_target>?response=<urlencoded response json>`."
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Feature unavailable, error code 236: branding is disabled by the dealer plan",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/image/delete": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Delete branding image",
        "description": "Delete the branding image of the given type. The dealer's interface falls back to the platform default for that element.",
        "operationId": "dealerSettingsImageDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/BrandingImageType"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/notification/read": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Read notification settings",
        "description": "Read the current dealer's notification settings: the originators used when the platform sends email, SMS, and voice notifications to that dealer's end users. Takes no parameters beyond the session credential.",
        "operationId": "dealerSettingsNotificationRead",
        "responses": {
          "200": {
            "description": "Notification settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/NotificationSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/notification/update": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Update notification settings",
        "description": "Update the current dealer's notification settings.\n\n**This is a full replacement, not a partial update.** Any writable field you omit is reset to its default rather than left alone. Omitting the optional `email_special`, for example, clears it. Always read the current settings first, change what you need, and send the complete object back.\n\n`email_from`, `email_footer`, `sms_originator`, and `caller_id` are mandatory on every call. Omitting any of them fails with error code 7 and an `errors` array naming the missing field.",
        "operationId": "dealerSettingsNotificationUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NotificationSettings"
                  },
                  {
                    "type": "object",
                    "required": [
                      "email_from",
                      "email_footer",
                      "sms_originator",
                      "caller_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/service/read": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Read service settings",
        "description": "Read the current dealer's service settings: branding paths, available maps and the default map, currency, locale, demo credentials, registration and mobile app behavior, colour themes, legal texts, and the defaults applied to newly created users. Takes no parameters beyond the session credential.",
        "operationId": "dealerSettingsServiceRead",
        "responses": {
          "200": {
            "description": "Service settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/ServiceSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/dealer/settings/service/update": {
      "post": {
        "tags": [
          "Dealer"
        ],
        "summary": "Update service settings",
        "description": "Update the current dealer's service settings. Branding images, that is wallpapers, logos, and favicons, cannot be changed here: use the branding image upload and delete operations instead.\n\n**This is a full replacement, not a partial update, and it covers more fields than are listed below.** Any writable setting you omit is reset to its default, including settings this schema does not enumerate. Sending only the fields documented here was observed to silently clear `email_special` and flip `no_auto_create_rules` from `true` to `false`.\n\nAlways call the service settings read operation first, modify the fields you intend to change, and send everything back. Do not construct a request from this schema alone.",
        "operationId": "dealerSettingsServiceUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceSettingsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "409": {
            "description": "Entity already exists, error code 247: the domain is already used by another dealer",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/timezone/list": {
      "post": {
        "tags": [
          "Timezone"
        ],
        "summary": "List timezones",
        "operationId": "timezoneList",
        "description": "List every time zone the platform supports, with localized descriptions.\n\nThis operation requires no authentication and no permissions.\n\nOnly zones under the `Africa`, `America`, `Asia`, `Atlantic`, `Australia`, `Europe`, `Indian`, and `Pacific` prefixes are returned, and only those for which a country code can be resolved. Verified live: 405 zones on the European platform.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locale"
                ],
                "properties": {
                  "locale": {
                    "type": "string",
                    "description": "Locale used for the `description` of each zone.",
                    "example": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Supported time zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "description": "Supported time zones, ordered by `zone_id`.",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/TimeZone"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/order/read": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Read order",
        "operationId": "orderRead",
        "description": "Read a single equipment order belonging to the current dealer.\n\nAn order that exists but belongs to another dealer returns error code 201, the same as one that does not exist, so a caller cannot use this operation to probe for other dealers' order IDs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order_id"
                ],
                "properties": {
                  "order_id": {
                    "type": "integer",
                    "description": "Order ID.",
                    "minimum": 1,
                    "example": 12341
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/gateways/email/list": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "List email gateways",
        "operationId": "gatewaysEmailList",
        "description": "List the email gateways available to the current dealer, and report which one is currently bound.\n\nThe response separates gateways the dealer owns from gateways that can be leased from the platform owner. Takes no parameters beyond the session credential.\n\nA dealer that *is* the platform owner receives an empty `leasable` list, since there is nobody to lease from.",
        "responses": {
          "200": {
            "description": "Email gateways",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "bound_gateway": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "ID of the gateway currently bound to this dealer, or `null` when none is bound.",
                      "readOnly": true,
                      "example": 2
                    },
                    "own": {
                      "type": "array",
                      "description": "Gateways owned by this dealer.",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/DealerOwnEmailGateway"
                      }
                    },
                    "leasable": {
                      "type": "array",
                      "description": "Gateways offered for lease by the platform owner.",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/LeasableEmailGateway"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/list": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "List sub-dealers",
        "operationId": "subpaasList",
        "description": "List the sub-dealers belonging to the current dealer, with per-sub-dealer user and device counts, plus optional text filtering, ordering and pagination.\n\nEvery parameter is optional.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "string",
                    "description": "Text filter."
                  },
                  "order_by": {
                    "type": "string",
                    "description": "Field to order by.",
                    "enum": [
                      "subpaas_id",
                      "title",
                      "jur_name",
                      "login",
                      "block_type",
                      "creation_date"
                    ],
                    "default": "subpaas_id"
                  },
                  "ascending": {
                    "type": "boolean",
                    "description": "Order direction. Ascending when `true`.",
                    "default": true
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Starting offset, for pagination.",
                    "minimum": 0,
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of records to return.",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-dealers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "readOnly": true,
                      "description": "The matching sub-dealers.",
                      "items": {
                        "$ref": "#/components/schemas/SubpaasListEntry"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "readOnly": true,
                      "description": "Total number of matching records, ignoring `offset` and `limit`.",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/read": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "Read sub-dealer",
        "operationId": "subpaasRead",
        "description": "Read a single sub-dealer belonging to the current dealer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subpaas_id"
                ],
                "properties": {
                  "subpaas_id": {
                    "type": "integer",
                    "description": "Sub-dealer ID.",
                    "example": 97834
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sub-dealer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/Subpaas"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/create": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "Create sub-dealer",
        "operationId": "subpaasCreate",
        "description": "Create a sub-dealer under the current dealer.\n\n**This operation sends email.** On success the platform notifies both the parent dealer and the platform managers.\n\nThe current dealer must be of the PaaS contract type, must not be blocked, and its plan must permit sub-dealer accounts. Failing any of those returns error code 13.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "title",
                  "jur_name",
                  "email",
                  "jur_country",
                  "link_monitoring"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Sub-dealer's password. Must satisfy the platform password policy."
                  },
                  "title": {
                    "type": "string",
                    "description": "Sub-dealer display name.",
                    "minLength": 1,
                    "maxLength": 50,
                    "example": "Rus Sub-PaaS"
                  },
                  "jur_name": {
                    "type": "string",
                    "description": "Legal company name.",
                    "maxLength": 100,
                    "example": "OOO Sub-PaaS"
                  },
                  "email": {
                    "type": "string",
                    "description": "Company email address.",
                    "format": "email",
                    "example": "sub-dealer@email.com"
                  },
                  "jur_country": {
                    "type": "string",
                    "description": "Sub-dealer's country.",
                    "maxLength": 255,
                    "example": "country"
                  },
                  "link_monitoring": {
                    "type": "string",
                    "description": "Sub-dealer's monitoring domain. Must be a valid internationalized domain name and must not be empty.",
                    "maxLength": 255,
                    "example": "sub.navixy.com"
                  },
                  "contact_fio": {
                    "type": "string",
                    "description": "Optional. Contact person.",
                    "maxLength": 100,
                    "example": "fio"
                  },
                  "contact_post": {
                    "type": "string",
                    "description": "Optional. Contact person position.",
                    "maxLength": 50,
                    "example": "post"
                  },
                  "contact_phone": {
                    "type": "string",
                    "description": "Optional. Contact person's phone.",
                    "maxLength": 255,
                    "example": "phone"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-dealer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the created sub-dealer.",
                      "readOnly": true,
                      "example": 18
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/update": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "Update sub-dealer",
        "operationId": "subpaasUpdate",
        "description": "Update an existing sub-dealer.\n\nUnlike create, this operation requires `subpaas_id` and `block_type`, and does not accept `password`. Use the password change operation for that.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subpaas_id",
                  "block_type",
                  "title",
                  "jur_name",
                  "email",
                  "jur_country",
                  "link_monitoring"
                ],
                "properties": {
                  "subpaas_id": {
                    "type": "integer",
                    "description": "ID of the sub-dealer to update.",
                    "example": 97834
                  },
                  "block_type": {
                    "type": "string",
                    "description": "Block status of the sub-dealer panel and its users.",
                    "enum": [
                      "NOT_BLOCKED",
                      "INITIAL_BLOCK",
                      "BLOCK_LOGIN",
                      "CLIENTS_BLOCKED"
                    ],
                    "example": "NOT_BLOCKED"
                  },
                  "title": {
                    "type": "string",
                    "description": "Sub-dealer display name.",
                    "minLength": 1,
                    "maxLength": 50,
                    "example": "Rus Sub-PaaS"
                  },
                  "jur_name": {
                    "type": "string",
                    "description": "Legal company name.",
                    "maxLength": 100,
                    "example": "OOO Sub-PaaS"
                  },
                  "email": {
                    "type": "string",
                    "description": "Company email address.",
                    "format": "email",
                    "example": "sub-dealer@email.com"
                  },
                  "jur_country": {
                    "type": "string",
                    "description": "Sub-dealer's country.",
                    "maxLength": 255,
                    "example": "country"
                  },
                  "link_monitoring": {
                    "type": "string",
                    "description": "Sub-dealer's monitoring domain. Must be a valid internationalized domain name and must not be empty.",
                    "maxLength": 255,
                    "example": "sub.navixy.com"
                  },
                  "contact_fio": {
                    "type": "string",
                    "description": "Optional. Contact person.",
                    "maxLength": 100,
                    "example": "fio"
                  },
                  "contact_post": {
                    "type": "string",
                    "description": "Optional. Contact person position.",
                    "maxLength": 50,
                    "example": "post"
                  },
                  "contact_phone": {
                    "type": "string",
                    "description": "Optional. Contact person's phone.",
                    "maxLength": 255,
                    "example": "phone"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/password/change": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "Change sub-dealer password",
        "operationId": "subpaasPasswordChange",
        "description": "Set a new password for a sub-dealer.\n\nThe current password is **not** required: a parent dealer can reset a sub-dealer's password directly. The new password must satisfy the platform password policy and must not match a recently used one.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subpaas_id",
                  "new_password"
                ],
                "properties": {
                  "subpaas_id": {
                    "type": "integer",
                    "description": "Sub-dealer ID.",
                    "example": 97834
                  },
                  "new_password": {
                    "type": "string",
                    "format": "password",
                    "description": "New password. Trimmed before validation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/subpaas/session/create": {
      "post": {
        "tags": [
          "Subpaas"
        ],
        "summary": "Create sub-dealer session",
        "operationId": "subpaasSessionCreate",
        "description": "Open a panel session as one of your sub-dealers and return its session hash.\n\nUse the returned hash exactly as one returned by the authenticate operation. It grants access to that sub-dealer's panel, so treat it as a credential.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subpaas_id"
                ],
                "properties": {
                  "subpaas_id": {
                    "type": "integer",
                    "description": "Sub-dealer ID.",
                    "example": 97834
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session opened as the sub-dealer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "hash": {
                      "type": "string",
                      "description": "Session key for the sub-dealer's panel. Pass it in the `Authorization` header as `NVX <hash>`.",
                      "readOnly": true,
                      "example": "fa7bf873fab9333144e171372a321b06"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission, or the dealer is not eligible to have sub-dealers.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/list": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "List plans",
        "operationId": "tariffList",
        "description": "List the plans belonging to the current dealer, with optional filtering by device type, text filtering, ordering and pagination.\n\nThe response also carries `wholesale_service_prices`, the prices the dealer itself is charged, which is not part of any individual plan.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_type": {
                    "type": "string",
                    "description": "Optional. Filter by device type.",
                    "enum": [
                      "tracker",
                      "camera",
                      "socket"
                    ]
                  },
                  "filter": {
                    "type": "string",
                    "description": "Optional. Text filter."
                  },
                  "order_by": {
                    "type": "string",
                    "description": "Optional. Field to order by.",
                    "enum": [
                      "id",
                      "name",
                      "device_type",
                      "group_id",
                      "price"
                    ],
                    "default": "id"
                  },
                  "ascending": {
                    "type": "boolean",
                    "description": "Optional. Ascending when `true`.",
                    "default": true
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Optional. Starting offset, for pagination.",
                    "minimum": 0,
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional. Maximum records to return.",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "readOnly": true,
                      "description": "The matching plans.",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    },
                    "wholesale_service_prices": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ServicePrices"
                        }
                      ],
                      "readOnly": true,
                      "description": "Per-unit service prices charged to the dealer, as opposed to the prices in each plan."
                    },
                    "count": {
                      "type": "integer",
                      "readOnly": true,
                      "description": "Total number of matching records, ignoring `offset` and `limit`.",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/read": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "Read plan",
        "operationId": "tariffRead",
        "description": "Read a single plan belonging to the current dealer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tariff_id"
                ],
                "properties": {
                  "tariff_id": {
                    "type": "integer",
                    "description": "Plan ID.",
                    "minimum": 1,
                    "example": 12163
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/Plan"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/create": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "Create plan",
        "operationId": "tariffCreate",
        "description": "Create a plan for the current dealer.\n\nThe plan definition is passed as a `tariff` object with no `id`, since the platform assigns one. Plan creation counts against the dealer's plan quota.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tariff"
                ],
                "properties": {
                  "tariff": {
                    "$ref": "#/components/schemas/PlanDraft"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the created plan.",
                      "readOnly": true,
                      "example": 12163
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/update": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "Update plan",
        "operationId": "tariffUpdate",
        "description": "Update an existing plan.\n\nThe plan definition is passed as a `tariff` object that includes `id` but omits `device_type`: a plan's device type cannot be changed after creation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tariff"
                ],
                "properties": {
                  "tariff": {
                    "$ref": "#/components/schemas/PlanEdit"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/defaults/read": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "Read plan defaults",
        "operationId": "tariffDefaultsRead",
        "description": "Read the plan defaults applied when a device is registered: which plan it lands on, and what bonus and free period it receives.\n\nDefaults are keyed by device type. Only `tracker` was observed in responses. Takes no parameters beyond the session credential.\n\nNote that the defaults sit at the top level of the response, not nested under a `value` key.",
        "responses": {
          "200": {
            "description": "Plan defaults, keyed by device type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "tracker": {
                      "$ref": "#/components/schemas/TariffDefaults"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/tariff/defaults/update": {
      "post": {
        "tags": [
          "Tariff"
        ],
        "summary": "Update plan defaults",
        "operationId": "tariffDefaultsUpdate",
        "description": "Update the plan defaults for a device type.\n\nThe defaults object sits at the top level of the request under its device-type key, not nested under a wrapper.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tracker"
                ],
                "properties": {
                  "tracker": {
                    "$ref": "#/components/schemas/TariffDefaults"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/list": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "List users",
        "operationId": "userList",
        "description": "List the end users of the dealer, with optional text filtering, ordering and pagination.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "string",
                    "description": "Optional. Text filter."
                  },
                  "order_by": {
                    "type": "string",
                    "description": "Optional. Field to order by."
                  },
                  "ascending": {
                    "type": "boolean",
                    "description": "Optional. Ascending when `true`.",
                    "default": true
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Optional. Starting offset, for pagination.",
                    "minimum": 0,
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional. Maximum records to return.",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "readOnly": true,
                      "description": "Total matching records, ignoring `offset` and `limit`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/read": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Read user",
        "operationId": "userRead",
        "description": "Read a single end user.\n\nThe response carries five sibling keys rather than a single `value`: the user profile, any discount, the default plan ID of the dealer, the block parameters of the user, and the dealer-level MFA settings.\n\nA sub-user, or a user belonging to another dealer, returns error code 201 exactly as a missing one does.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user, with related settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "value": {
                      "$ref": "#/components/schemas/User"
                    },
                    "discount": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/UserDiscount"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Discount applied to this user, or `null` when none."
                    },
                    "default_tariff_id": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "ID of the default plan of the dealer."
                    },
                    "block_parameters": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Parameters governing how and when the user is blocked.",
                      "additionalProperties": true
                    },
                    "dealer_mfa_settings": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Dealer-level multi-factor authentication settings that apply to this user.",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/export": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Export users",
        "operationId": "userExport",
        "description": "Export the user list as a spreadsheet. Unlike every other operation here, a successful response is a file download rather than a JSON body.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "description": "Output file format.",
                    "enum": [
                      "csv",
                      "xlsx"
                    ],
                    "default": "xlsx"
                  },
                  "columns": {
                    "type": "array",
                    "description": "Columns to include, in order. Must not be empty.",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "id",
                      "login",
                      "first_name",
                      "middle_name",
                      "last_name",
                      "phone"
                    ]
                  },
                  "filter": {
                    "type": "string",
                    "description": "Optional. Text filter, as for the list operation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The exported file.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/change_password": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Change user password",
        "operationId": "userChangePassword",
        "description": "Set a new password for an end user.\n\nNote the parameter is `password`, not `new_password` as the dealer and subpaas equivalents use, and no current password is required: a dealer sets a user password without knowing the old one.\n\nThe value must satisfy the password policy of the dealer, returned as `password_policy` by the dealer get info operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "password"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "New password. Must satisfy the password policy of the dealer and must not match a recently used password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/corrupt": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Corrupt user",
        "operationId": "userCorrupt",
        "description": "Corrupt an end user, marking the account and its data as unusable.\n\n**The login of the user must be supplied alongside `user_id`**, which acts as a deliberate confirmation step for a destructive operation.\n\nBy default the tracker clones of the user are corrupted too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "login"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  },
                  "login": {
                    "type": "string",
                    "description": "Login of the user being corrupted.",
                    "minLength": 1,
                    "example": "user@example.com"
                  },
                  "corrupt_clones": {
                    "type": "boolean",
                    "description": "Whether to corrupt the tracker clones of the user as well.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/session/create": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create user session",
        "operationId": "userSessionCreate",
        "description": "Create a session for an end user and return its hash, letting a dealer act on behalf of that user in the user-facing API without knowing their password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The session of the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "hash": {
                      "type": "string",
                      "description": "Session key for the end user. Use it against the user-facing API, not the Admin Panel API.",
                      "readOnly": true,
                      "example": "fa7bf873fab9333144e171372a321b06"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/transaction/list": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "List user transactions",
        "operationId": "userTransactionList",
        "description": "List balance transactions for an end user over a time interval.\n\n`from` and `to` are **top-level parameters**, not nested under an `interval` object. Both are mandatory.\n\nThe interval is bounded: too wide a span fails with error code 211 rather than truncating.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "from",
                  "to"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  },
                  "from": {
                    "type": "string",
                    "description": "Start of the interval, as `YYYY-MM-DD HH:MM:SS`.",
                    "example": "2026-07-01 00:00:00"
                  },
                  "to": {
                    "type": "string",
                    "description": "End of the interval, as `YYYY-MM-DD HH:MM:SS`.",
                    "example": "2026-08-01 00:00:00"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional. Maximum records to return.",
                    "minimum": 1,
                    "maximum": 20000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transactions of the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "example": true
                    },
                    "list": {
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "$ref": "#/components/schemas/UserTransaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the session lacks the required permission.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/panel/user/transaction/change_balance": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Change user balance",
        "operationId": "userTransactionChangeBalance",
        "description": "Adjust the balance or bonus balance of an end user by a signed amount, recording a transaction.\n\nA descriptive `text` of at least 5 characters is mandatory, so every adjustment carries a reason.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "amount",
                  "type",
                  "text"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID of the user. Must belong to the current dealer and must not be a sub-user.",
                    "minimum": 1,
                    "example": 231485
                  },
                  "amount": {
                    "type": "number",
                    "description": "Signed amount to apply. Negative values debit the balance.",
                    "minimum": -9999999999.9999,
                    "maximum": 9999999999.9999,
                    "example": 10.5
                  },
                  "type": {
                    "type": "string",
                    "description": "Which balance to adjust.",
                    "example": "main"
                  },
                  "text": {
                    "type": "string",
                    "description": "Reason for the adjustment, recorded on the transaction.",
                    "minLength": 5,
                    "maxLength": 200,
                    "example": "Manual top-up after support request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
[...]
