{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Navixy Platform API",
    "summary": "API calls for end-user applications built on the Navixy platform",
    "description": "This is an API reference for the Navixy Platform API, the backend used by end-user applications.\n\n**Coverage.** This specification is being adopted resource family by resource family. It currently covers the `user` family, meaning authentication, sessions, settings, personal information, audit records and applications; fleet vehicles and their service works; billing, meaning bills, payment systems, subscriptions, plans and transactions; the driver journal; depots; and field service tasks, meaning tasks, checkpoints, task history and task forms; and task routes, route optimization and recurring task schedules; and points of interest, POI import, forms and form templates; and employees, departments and check-ins; and sub-users, security groups and platform plugins; and API keys, spreadsheet imports, files, notifications, timezones and the events history; and reports, report schedules, tags and customizable entities; and geofences, geofence import, asset tracks and asset groups; and the tracking services, meaning APN lookup, BLE beacon data, delivery tracking, geocoding, map layers and data forwarding; and working statuses; and geo links, working status lists, routing and tracks.\n\n**Parameters.** All parameters are documented in the JSON request body. The API also accepts them as form-encoded body fields or query-string parameters. See the authentication page for the general rule.\n\n**Errors.** An error is signalled by a non-200 HTTP status, with an API-level code in `status.code` of the response body. The default status is 400. Validation failures add an `errors` array naming each offending parameter. Per-operation error code lists are documented on the prose pages next to each operation.\n\n**Credentials.** Most operations accept either a user session hash or an API key in the `Authorization` header. A few accept a session hash only, and reject an API key with error code 4; those are called out in the operation description.",
    "contact": {
      "name": "Navixy support",
      "email": "support@navixy.com",
      "url": "https://www.navixy.com/contact/"
    },
    "license": {
      "name": "Apache 2.0",
      "identifier": "Apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.eu.navixy.com/v2",
      "description": "Navixy production server on European platform"
    },
    {
      "url": "https://api.us.navixy.com/v2",
      "description": "Navixy production server on American platform"
    },
    {
      "url": "https://api.me.navixy.com/v2",
      "description": "Navixy production server on Middle East platform"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Operations for authenticating a user, managing their sessions, reading and updating their settings and personal information, reading audit records, and registering custom applications. All resources under the /user/ path."
    },
    {
      "name": "Vehicles",
      "description": "Vehicles in the fleet, their avatars and status list, spreadsheet import, and the service works scheduled against them. All resources under the /vehicle/ path."
    },
    {
      "name": "Billing",
      "description": "Bills, payment systems, subscriptions, device plans and the transaction log. All resources under the /bill/, /payment_system/, /subscription/, /tariff/ and /transaction/ paths."
    },
    {
      "name": "Driver journal",
      "description": "Trips categorised as work, personal or other, and the proposals a track can be turned into. All resources under the /driver/journal/ path."
    },
    {
      "name": "Garages",
      "description": "Depots where vehicles are kept and maintained. All resources under the /garage/ path."
    },
    {
      "name": "Tasks",
      "description": "Field service tasks: the places to visit, the routes and checkpoints they group into, the history of every change, and the forms field employees fill in. All resources under the /task/ path."
    },
    {
      "name": "Places",
      "description": "Points of interest: the business-specific places employees visit, their avatars, spreadsheet import and bulk upload. All resources under the /place/ path."
    },
    {
      "name": "Forms",
      "description": "Forms and the templates they are issued from. All resources under the /form/ path. Forms attached to tasks are under /task/form/ and carry the Tasks tag."
    },
    {
      "name": "Employees",
      "description": "Employees and drivers, their avatars, spreadsheet import, and the departments they belong to. All resources under the /employee/ and /department/ paths."
    },
    {
      "name": "Check-ins",
      "description": "Check-ins recorded by field employees from the Mobile Tracker App, with their photos and forms. All resources under the /checkin/ path."
    },
    {
      "name": "Sub-users",
      "description": "Additional users under a master account: their security groups, and the trackers, places and geofences each one can see. All resources under the /subuser/ path."
    },
    {
      "name": "Account and platform",
      "description": "Platform-level resources shared across the account, such as the plugins that change how other calls behave."
    },
    {
      "name": "History",
      "description": "The events history: what happened on trackers and assets, what the account itself did, and which entries the user has read. All resources under the /history/ path."
    },
    {
      "name": "Reports",
      "description": "Generating tracker reports, fetching them as JSON or as files, and scheduling them to be emailed regularly. All resources under the /report/ path."
    },
    {
      "name": "Tags",
      "description": "Labels applied across places, tasks, employees, vehicles, geofences and trackers, and the search that finds records by them. All resources under the /tag/ path."
    },
    {
      "name": "Entities",
      "description": "Customizable record classes and the custom fields added to them. All resources under the /entity/ path."
    },
    {
      "name": "Geofences",
      "description": "Geofences of all three shapes, their points, and spreadsheet and KML import and export. All resources under the /zone/ path."
    },
    {
      "name": "Assets",
      "description": "Tracks belonging to an asset rather than to a tracker, and the groups assets are organised into. All resources under the /asset/track/ and /asset_group/ paths."
    },
    {
      "name": "Tracking services",
      "description": "Services supporting tracking rather than the trackers themselves: APN lookup, BLE beacon data, delivery tracking, geocoding, map layers and data forwarding. Resources under the /apn_settings/, /beacon/, /delivery/, /geocoder/, /map_layer/ and /retranslator/ paths."
    },
    {
      "name": "Working statuses",
      "description": "Working statuses, the activity a tracker is marked as being in, the lists they are grouped into, and the assignment of a status to a tracker. All resources under the /status/ path."
    },
    {
      "name": "Trackers",
      "description": "Trackers, the devices the platform tracks, together with the geo links that share their live location with people outside the account. Resources under the /tracker/ path."
    },
    {
      "name": "Routes",
      "description": "Routing between points, using the account's default provider or a named one. All resources under the /route/ path."
    },
    {
      "name": "Tracks",
      "description": "The trips a tracker made, the points behind them, the geofences and places they passed through, and waybills built from them. All resources under the /track/ path."
    }
  ],
  "paths": {
    "/user/auth": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Authenticate user",
        "description": "Exchange a login and password for a session hash. Requires no credential of its own, and accepts no existing session.\n\nThe returned hash is what the `Authorization: NVX <hash>` header carries on subsequent calls. An API key may be used instead of a session hash on most operations, but a small number accept a session hash only. See the operation descriptions.",
        "operationId": "userAuth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "User email as login, or a demo login."
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password. 1 to 40 printable characters.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "dealer_id": {
                    "type": "integer",
                    "description": "Optional. If specified, the API checks that the user belongs to this dealer and returns error 102 if not."
                  }
                },
                "required": [
                  "login",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new session, or a challenge when a second factor is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "type": {
                      "type": "string",
                      "description": "Which outcome this is. `authenticated` means the session is ready to use. `second_factor_required` means multi-factor authentication is enabled and the returned hash is an MFA session, usable only for the `user/auth/code/*` operations until a code is verified.",
                      "enum": [
                        "authenticated",
                        "second_factor_required"
                      ]
                    },
                    "factor_type": {
                      "type": "string",
                      "description": "Which second factor is in use. Present only when `type` is `second_factor_required`. Only `email` is available at the moment.",
                      "enum": [
                        "email"
                      ]
                    },
                    "hash": {
                      "type": "string",
                      "description": "Session hash to send in the `Authorization` header. When `type` is `second_factor_required` it is an MFA session and is accepted only by the `user/auth/code/*` operations."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Access denied, error code 11, when the dealer is blocked. Error codes 102 wrong login or password, 103 user not activated, 104 logins limit exceeded, and 105 login attempts limit exceeded return the default 400.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/auth/code/verify": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify auth code",
        "description": "Complete a multi-factor authentication challenge by submitting the code that was sent to the user.\n\n**Requires an MFA session**, which is issued part-way through authentication. An ordinary session hash or API key cannot call this operation.",
        "operationId": "userAuthCodeVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The verification code sent to the user."
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "hash": {
                      "type": "string",
                      "description": "Session hash for the authenticated session."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/auth/code/resend": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Resend auth code",
        "description": "Send the multi-factor authentication code again.\n\n**Rate limited to one call every 5 minutes** to prevent abuse.\n\n**Requires an MFA session**, which is issued part-way through authentication. An ordinary session hash or API key cannot call this operation.",
        "operationId": "userAuthCodeResend",
        "responses": {
          "200": {
            "description": "Code resent",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/activate": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Activate user",
        "description": "Activate the current user account.\n\n**Requires an activation session**, so an ordinary session hash or API key cannot call this operation. Also requires the `admin` right.",
        "operationId": "userActivate",
        "responses": {
          "200": {
            "description": "Account activated",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/get_info": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get user info",
        "description": "Return the current user, the platform settings that apply to them, their tariff restrictions, granted rights, enabled features, and menu.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userGetInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "type": "string",
                    "description": "Optional. If specified, the response includes a description of that application's custom menu."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current user and platform information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "paas_id": {
                      "type": "integer",
                      "description": "Identifier of the platform the user belongs to."
                    },
                    "paas_settings": {
                      "$ref": "#/components/schemas/PaasSettings"
                    },
                    "user_info": {
                      "$ref": "#/components/schemas/UserInfo"
                    },
                    "tariff_restrictions": {
                      "$ref": "#/components/schemas/TariffRestrictions"
                    },
                    "privileges": {
                      "type": "object",
                      "description": "Rights granted to the current user.",
                      "properties": {
                        "rights": {
                          "type": "array",
                          "description": "Sub-user right names held by the caller.",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "features": {
                      "type": "array",
                      "description": "Names of features enabled for the user.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "menu": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Deprecated menu structure. Null on current platforms."
                    },
                    "user_menu": {
                      "$ref": "#/components/schemas/UserMenu"
                    },
                    "premium_gis": {
                      "type": "boolean",
                      "description": "Whether the premium GIS package is active."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/get_tariff_restrictions": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get tariff restrictions",
        "description": "Return the restrictions the user's tariff imposes.\n\n**Requires a weblocator session.** Also accepts GET with the same parameters as query-string values.",
        "operationId": "userGetTariffRestrictions",
        "responses": {
          "200": {
            "description": "Tariff restrictions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "$ref": "#/components/schemas/TariffRestrictions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/resend_activation": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Resend activation email",
        "description": "Send the account activation email again.\n\nRequires no credential. A session may be supplied and is used if valid, but is not required.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userResendActivation",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "The account's login."
                  }
                },
                "required": [
                  "login"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activation email sent",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Error code 265 already done, when the account is already activated and verified. Error code 264 timeout not reached, when the previous activation link was generated less than 5 minutes ago, or another server-configured timeout. The 264 body adds `timeout` and `remainder`, both ISO 8601 durations, giving the configured interval and the time left before the next attempt.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Log out",
        "description": "End the current session.\n\n**Requires a session hash. An API key is rejected** with error code 4, \"User or API key not found or session ended\", which is misleading: the key is valid, but this operation accepts standard sessions only.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userLogout",
        "responses": {
          "200": {
            "description": "Session ended",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/personal_info/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update personal info",
        "description": "Replace the user's personal and address information.\n\n**Requires the platform plugin with id 45.** Without it the call fails with error code 222, plugin not found.\n\n**This is a full replacement, not a merge.** Fields omitted from the request are cleared.\n\n`phone` is required and must not be empty.",
        "operationId": "userPersonalInfoUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "legal_type": {
                    "type": "string",
                    "description": "Legal type of the user.",
                    "enum": [
                      "legal_entity",
                      "sole_trader",
                      "individual"
                    ]
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Contact person first name."
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "Contact person middle name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact person last name."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact phone, up to 15 digits. Required and must not be empty.",
                    "maxLength": 15
                  },
                  "post_country": {
                    "type": "string",
                    "description": "Optional. Country part of the user's post address."
                  },
                  "post_index": {
                    "type": "string",
                    "description": "Optional. Index part of the user's post address."
                  },
                  "post_region": {
                    "type": "string",
                    "description": "Optional. Region part of the user's post address."
                  },
                  "post_city": {
                    "type": "string",
                    "description": "Optional. City part of the user's post address."
                  },
                  "post_street_address": {
                    "type": "string",
                    "description": "Optional. Street part of the user's post address."
                  },
                  "iec": {
                    "type": "string",
                    "description": "Industrial Enterprises Classifier, also known as KPP. Used in Russia. For `legal_entity` only."
                  },
                  "legal_name": {
                    "type": "string",
                    "description": "User legal name. For `legal_entity` only."
                  },
                  "okpo_code": {
                    "type": "string",
                    "description": "Optional. All-Russian Classifier of Enterprises and Organizations, 8 or 10 characters.",
                    "maxLength": 10
                  },
                  "state_reg_num": {
                    "type": "string",
                    "description": "Optional. State registration number, up to 15 characters. For example EIN in the USA or OGRN in Russia.",
                    "maxLength": 15
                  },
                  "tin": {
                    "type": "string",
                    "description": "Taxpayer identification number."
                  },
                  "registered_country": {
                    "type": "string",
                    "description": "Country part of the user's registered address."
                  },
                  "registered_index": {
                    "type": "string",
                    "description": "Index part of the user's registered address."
                  },
                  "registered_region": {
                    "type": "string",
                    "description": "Region part of the user's registered address."
                  },
                  "registered_city": {
                    "type": "string",
                    "description": "City part of the user's registered address."
                  },
                  "registered_street_address": {
                    "type": "string",
                    "description": "Street part of the user's registered address."
                  }
                },
                "required": [
                  "legal_type",
                  "first_name",
                  "last_name",
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personal info updated",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/settings/read": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Read user settings",
        "description": "Return the current user's settings.\n\n`file_storage_settings`, `balance_alert_settings`, `first_user_balance_warning_period`, and `second_user_balance_warning_period` are **absent entirely** unless the caller holds the `admin` right, rather than merely read-only.\n\nThe `settings` object is filtered by the dealer's GIS package before being returned, so some fields may be absent or null on platforms with a restricted package.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userSettingsRead",
        "responses": {
          "200": {
            "description": "The user's settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "settings": {
                      "$ref": "#/components/schemas/UserSettings"
                    },
                    "file_storage_settings": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/FileStorageSettings"
                        }
                      ],
                      "description": "Present only when the caller holds the `admin` right."
                    },
                    "balance_alert_settings": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/BalanceAlertSettings"
                        }
                      ],
                      "description": "Present only when the caller holds the `admin` right."
                    },
                    "first_user_balance_warning_period": {
                      "type": "string",
                      "description": "How long before a projected zero balance the first alert is sent, as a duration such as `8d`. Present only when the caller holds the `admin` right."
                    },
                    "second_user_balance_warning_period": {
                      "type": "string",
                      "description": "How long before a projected zero balance the second alert is sent, as a duration such as `2d`. Present only when the caller holds the `admin` right."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/settings/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user settings",
        "description": "Replace the current user's settings.\n\n**This is a full replacement, not a merge, and only `time_zone` is required.** Any writable field omitted from the request is cleared, including `date_format` and `hour_mode`.\n\nSend every field you intend to keep. `file_storage_settings` and `balance_alert_settings` are stored separately and do survive omission.\n\nUpdating `balance_alert_settings` or `file_storage_settings` requires the `admin` right.",
        "operationId": "userSettingsUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time_zone": {
                    "type": "string",
                    "description": "ISO timezone ID, for example `Europe/Amsterdam`."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Locale code, for example `en` or `nl_NL`."
                  },
                  "measurement_system": {
                    "type": "string",
                    "description": "Measurement system.",
                    "enum": [
                      "metric",
                      "imperial",
                      "us",
                      "metric_gal_us",
                      "nautical"
                    ]
                  },
                  "date_format": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Date representation. **Cleared if omitted**, and absent from the parameter list on older prose pages, which is how it gets wiped unnoticed.",
                    "enum": [
                      "ddMMyyyy_dots",
                      "ddMMyyyy_slashes",
                      "MMddyyyy_hyphens",
                      "yyyyMMdd_hyphens",
                      "dMMMy",
                      "dMMMMy"
                    ]
                  },
                  "hour_mode": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Time representation. **Cleared if omitted**, and absent from the parameter list on older prose pages, which is how it gets wiped unnoticed.",
                    "enum": [
                      "TWELVE_HOURS",
                      "TWENTY_FOUR_HOURS"
                    ]
                  },
                  "geocoder": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Preferred geocoder.",
                    "enum": [
                      "google",
                      "yandex",
                      "progorod",
                      "osm",
                      "locationiq"
                    ]
                  },
                  "route_provider": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Preferred route provider.",
                    "enum": [
                      "google",
                      "progorod",
                      "osrm"
                    ]
                  },
                  "translit": {
                    "type": "boolean",
                    "description": "`true` if SMS notifications should be transliterated."
                  },
                  "balance_alert_settings": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BalanceAlertSettings"
                      }
                    ],
                    "description": "Requires the `admin` right."
                  },
                  "file_storage_settings": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/FileStorageSettings"
                      }
                    ],
                    "description": "Requires the `admin` right."
                  }
                },
                "required": [
                  "time_zone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right needed for `balance_alert_settings` or `file_storage_settings`.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/settings/file_storage/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update file storage settings",
        "description": "Replace the current user's file storage settings. Requires the `admin` right.\n\n**Send the settings fields at the top level of the request body**, not wrapped in a `file_storage_settings` object. The operation deserializes the whole body into the settings object, so a wrapped body is accepted, returns `success: true`, and silently writes defaults instead of the values supplied.\n\n**This is a full replacement**: an omitted field is written as its default.",
        "operationId": "userSettingsFileStorageUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auto_overwrite": {
                    "type": "boolean",
                    "description": "Whether uploading a file with an existing name overwrites it. Defaults to `false` when omitted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File storage settings updated",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/settings/ui/read": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Read UI setting",
        "description": "Read one interface setting by key.\n\nA key that was never written returns `value: null` with HTTP 200. It is not an error: the operation has no error path.",
        "operationId": "userSettingsUiRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Setting key. 1 to 50 characters, and may contain only English letters, digits, `_` and `-`.",
                    "minLength": 1,
                    "maxLength": 50,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stored value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The stored value, or null if the key has never been written."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/settings/ui/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update UI setting",
        "description": "Write one interface setting.\n\nBoth `key` and `value` are required, and `value` may not be null. **A setting cannot be removed**, only overwritten, since no delete operation exists and null is rejected.",
        "operationId": "userSettingsUiUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Setting key. 1 to 50 characters, and may contain only English letters, digits, `_` and `-`.",
                    "minLength": 1,
                    "maxLength": 50,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "value": {
                    "type": "string",
                    "description": "Value to store. 0 to 8192 characters. May not be null, though an empty string is accepted.",
                    "maxLength": 8192
                  }
                },
                "required": [
                  "key",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Setting written",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Over quota, error code 268.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/password/change": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Change password",
        "description": "Change the password for the current user.\n\n**Requires a password-change session**, so an ordinary session hash or API key cannot call this operation.\n\nChanging a password ends every other session for the account.",
        "operationId": "userPasswordChange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "New password for the user. 12 to 20 characters, combining uppercase and lowercase letters, digits, and at least one special character. A password matching any of the last 10 used is rejected.\n\nThe API enforces this through the platform password policy, which `userGetInfo` returns as `paas_settings.password_policy`, including which characters count as special.",
                    "minLength": 12,
                    "maxLength": 20
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "In demo mode this function is disabled, error code 101.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/password/set": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Set password",
        "description": "Set a new password for the current user.\n\n**Requires a session hash, and a standard session specifically. An API key is rejected** with error code 4.\n\nSetting a password ends every other session for the account.",
        "operationId": "userPasswordSet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "old_password": {
                    "type": "string",
                    "description": "Current password of the user."
                  },
                  "new_password": {
                    "type": "string",
                    "description": "New password for the user. 12 to 20 characters, combining uppercase and lowercase letters, digits, and at least one special character. A password matching any of the last 10 used is rejected.\n\nThe API enforces this through the platform password policy, which `userGetInfo` returns as `paas_settings.password_policy`, including which characters count as special.",
                    "minLength": 12,
                    "maxLength": 20
                  }
                },
                "required": [
                  "old_password",
                  "new_password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "In demo mode this function is disabled, error code 101. Error codes 245 new password must be different and 248 wrong password return the default 400.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/session/renew": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Renew session",
        "description": "Extend the lifetime of the current session.\n\nA session expires on an absolute deadline set when it was created, **30 days later by default**, and using the session does not push that deadline back. This operation replaces the deadline with a fresh full lifetime starting now, so a session with 2 days left and one with 29 days left both end up with the same 30 days. The period is a per-installation setting, so treat 30 days as the default rather than a constant.\n\nAn API key has no expiry and needs no renewal.\n\n**Requires a session hash. An API key is rejected** with error code 4, \"User or API key not found or session ended\", which is misleading: the key is valid, but this operation accepts standard sessions only.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userSessionRenew",
        "responses": {
          "200": {
            "description": "Session renewed",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/session/delivery/read": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Read delivery session",
        "description": "Return the delivery session hash for the current user, used by the delivery application.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userSessionDeliveryRead",
        "responses": {
          "200": {
            "description": "The delivery session hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "type": "string",
                      "description": "Delivery session hash."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/session/delivery/create": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create delivery session",
        "description": "Create a delivery session for the current user.\n\nRequires the `delivery_session_create` right.\n\nTakes no parameters. Also accepts GET.",
        "operationId": "userSessionDeliveryCreate",
        "responses": {
          "200": {
            "description": "The new delivery session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "type": "string",
                      "description": "Delivery session hash."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Feature unavailable due to tariff restrictions, error code 236.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "In demo mode this function is disabled, error code 101.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/session/push_token/bind": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Bind push token",
        "description": "Associate a push notification token with the current session, so the platform can deliver push notifications to that device.",
        "operationId": "userSessionPushTokenBind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "type": "string",
                    "description": "Application the token belongs to.",
                    "enum": [
                      "navixy_iphone_viewer",
                      "navixy_android_viewer",
                      "w3c_pushapi"
                    ]
                  },
                  "token": {
                    "type": "string",
                    "description": "Push token, or the endpoint from `pushSubscription` as a full URL when the application is `w3c_pushapi`."
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Only for `w3c_pushapi`. Carries the keys from `pushSubscription`, `p256dh` and `auth`.",
                    "additionalProperties": true
                  },
                  "category_filter": {
                    "type": "string",
                    "description": "Optional. Which notification categories to deliver. Defaults to `*`, meaning all. A comma-separated list allows only those categories; the same list prefixed with a minus allows all except those."
                  }
                },
                "required": [
                  "application",
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token bound",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/session/push_token/delete": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Delete push token",
        "description": "Remove the push notification token associated with the current session.\n\nTakes no parameters. Returns error code 201, not found in database, when the session has no token bound.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userSessionPushTokenDelete",
        "responses": {
          "200": {
            "description": "Token deleted",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/audit/checkin": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Record user check-in",
        "description": "Append a check-in record to the audit log for the current user. This **writes** an audit entry; it does not read one.\n\n**Requires a session hash. An API key is rejected** with error code 4, \"User or API key not found or session ended\", which is misleading: the key is valid, but this operation accepts standard sessions only.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "userAuditCheckin",
        "responses": {
          "200": {
            "description": "Check-in recorded",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/audit/log/list": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "List audit log records",
        "description": "Return audit records for the current user and their sub-users. Requires the `admin` right.\n\nNote that a request with an empty body reports `interval` as the missing required parameter. That is the internal field name; the public parameters are `from` and `to`, and both forms work.",
        "operationId": "userAuditLogList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Include records recorded at or after this date and time.",
                    "examples": [
                      "2026-08-24 09:00:00"
                    ]
                  },
                  "to": {
                    "type": "string",
                    "description": "Include records recorded at or before this date and time.",
                    "examples": [
                      "2026-08-24 09:00:00"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of records to return."
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of records to skip."
                  },
                  "subuser_ids": {
                    "type": "array",
                    "description": "Optional. Restrict to these sub-users.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "actions": {
                    "type": "array",
                    "description": "Optional. Restrict to these action names.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Optional. Sort options, each a property and direction such as `action_date=asc`. Sortable properties are `action`, `action_date`, `action_datetime`, `user`, and `host`. Defaults to `[\"action_date=asc\"]`.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "grouping": {
                    "type": "string",
                    "description": "Optional. How to group the log.",
                    "enum": [
                      "user",
                      "action_date",
                      "action",
                      "default"
                    ]
                  }
                },
                "required": [
                  "from",
                  "to",
                  "limit",
                  "offset"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching audit records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditLogRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/application/list": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "List user applications",
        "description": "List the custom applications registered for the account, enabled or not.\n\n**This operation needs no right of its own, only a valid session, and it returns the stored key of every application whose `authorization.type` is `api_key`.**\n\nCallable with an empty body. Also accepts GET.",
        "operationId": "userApplicationList",
        "responses": {
          "200": {
            "description": "The applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserApplication"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/application/create": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user application",
        "description": "Register a custom application for the account.\n\n`id` and `enabled` are accepted and ignored: a new application is always created enabled, and `user/application/enabled/set` hides it afterwards.\n\n**`icon` is not length-checked and is stored in a 50-character column**, so a longer value fails with error code 1, a database error, rather than a validation error.\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `admin` right.",
        "operationId": "userApplicationCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/UserApplication"
                      }
                    ],
                    "description": "The application to create. Omit `id`."
                  }
                },
                "required": [
                  "application"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created application",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "id": {
                      "type": "integer",
                      "description": "Identifier of the new application."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Error code 268, over quota: the account already holds as many applications as the platform allows.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/application/update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user application",
        "description": "Replace an existing application.\n\n**This is a full replacement, not a merge.** Every optional field left out is reset to its default: `enabled` to `true`, `authorization` to `user_session`, `display_method` to `new_tab`, `icon` to `extension`, and `description` to empty. Send the whole object, not only the fields being changed.\n\n**The length limits are not enforced here, unlike on create.** An over-long `label`, `url_template`, `description`, or `icon` fails with error code 1, a database error, instead of error code 7. Types and enum values are still checked and still give error code 7.\n\n`id` has to name an existing application of this account. Naming one that does not exist, or leaving `id` out, returns error code 201, not found in database.\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `admin` right.",
        "operationId": "userApplicationUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/UserApplication"
                      }
                    ],
                    "description": "The replacement application, identified by its `id`."
                  }
                },
                "required": [
                  "application"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application replaced",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/application/delete": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user application",
        "description": "Delete an application. It leaves the side menu immediately.\n\nReturns error code 201, not found in database, when no application of this account carries that identifier. **Leaving `application_id` out returns 201 as well, rather than a validation error.**\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `admin` right.",
        "operationId": "userApplicationDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_id": {
                    "type": "integer",
                    "description": "Identifier of the application to delete."
                  }
                },
                "required": [
                  "application_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application deleted",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/user/application/enabled/set": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Show or hide a user application",
        "description": "Show or hide an application in the side menu, leaving everything else about it unchanged.\n\n**`enabled` is not treated as missing when it is left out: it falls back to `false` and the application is hidden.** Always send it.\n\nReturns error code 201, not found in database, when no application of this account carries that identifier. Leaving `application_id` out returns 201 as well.\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `admin` right.",
        "operationId": "userApplicationEnabledSet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_id": {
                    "type": "integer",
                    "description": "Identifier of the application to show or hide."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the application appears in the side menu. Falls back to `false` when left out, which hides it."
                  }
                },
                "required": [
                  "application_id",
                  "enabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visibility set",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "403": {
            "description": "Operation not permitted, error code 13: the caller lacks the `admin` right.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/create": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Create vehicle",
        "description": "Create a vehicle. Pass a vehicle object without its `id`.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    ],
                    "description": "The vehicle to create, without the `id` field."
                  },
                  "force_reassign": {
                    "type": "boolean",
                    "description": "Optional. Default `true`. Reassign the device to this vehicle even if it was assigned to another one."
                  }
                },
                "required": [
                  "vehicle"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created vehicle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the new vehicle."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "409": {
            "description": "Error 247: a device cannot be assigned, or a uniqueness constraint failed.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/delete": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Delete vehicles",
        "description": "Delete vehicles by ID.\n\n**Exactly one of `vehicle_id` or `vehicle_ids` must be given.** A request with neither reports a missing parameter named `has_at_least_one_vehicle_id`, which is the internal name of the validation group enforcing that choice, not a parameter you can send.\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_id": {
                    "type": "integer",
                    "description": "ID of a single vehicle to delete. Use this or `vehicle_ids`, not both."
                  },
                  "vehicle_ids": {
                    "type": "array",
                    "description": "IDs of vehicles to delete. Use this or `vehicle_id`, not both.",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicles deleted",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/list": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "List vehicles",
        "description": "List the vehicles of the current user, with pagination, sorting and a text filter.\n\nCallable with an empty body. Also accepts GET.",
        "operationId": "vehicleList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Pagination. Maximum number of vehicle records to return."
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Pagination. Return vehicles starting from this offset."
                  },
                  "sort": {
                    "type": "array",
                    "description": "Optional. Sort options, each a property and direction such as `type=desc`. **At most 2 options per request.** Sortable properties: `id`, `label`, `reg_number`, `model`, `type`, `garage_organization_name`, `vin`, `tracker_label`, `fuel_type`, `fuel_grade`, `norm_avg_fuel_consumption`, `fuel_tank_volume`, `payload_weight`, `chassis_number`, `subtype`, `wheel_arrangement`, `tyres_number`, `tyres_size`, `max_speed`, `passengers`.",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 2
                  },
                  "filter": {
                    "type": "string",
                    "description": "Optional. Filter by VIN, reg_number or label. Up to 100 characters, or null.",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of vehicles matching the request, ignoring pagination."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/read": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Read vehicle",
        "description": "Return one vehicle by ID.\n\nAlso accepts GET with the same parameters as query-string values.",
        "operationId": "vehicleRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_id": {
                    "type": "integer",
                    "description": "ID of a vehicle."
                  }
                },
                "required": [
                  "vehicle_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The vehicle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "$ref": "#/components/schemas/Vehicle"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/update": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Update vehicle",
        "description": "Update a vehicle. Pass a full vehicle object including its `id`.\n\nNote `icon_id` cannot be set here: it is changed through `vehicle/avatar/assign`.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    ],
                    "description": "The vehicle to update, including its `id`."
                  },
                  "force_reassign": {
                    "type": "boolean",
                    "description": "Optional. Default `true`. Reassign the device to this vehicle even if it was assigned to another one."
                  }
                },
                "required": [
                  "vehicle"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle updated",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "409": {
            "description": "Error 247: a device cannot be assigned. Error 261: the vehicle is referenced by something that prevents the change.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/batch_convert": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Convert vehicle batch",
        "description": "Parse a tab-delimited batch of vehicles and return them checked, with per-row errors. Does not create anything.\n\nGive either `batch` or `file_id`. **If `file_id` is set, `batch` is ignored.** A request with neither returns error 7 with no `errors` array, because the rule is cross-field rather than per-parameter.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleBatchConvert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batch": {
                    "type": "string",
                    "description": "Batch of tab-delimited vehicles."
                  },
                  "file_id": {
                    "type": "string",
                    "description": "Preloaded file ID. Takes precedence over `batch`."
                  },
                  "fields": {
                    "type": "array",
                    "description": "Optional. Field names, in column order. Defaults to `[\"label\", \"model\", \"reg_number\", \"fuel_grade\"]`.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "geocoder": {
                    "type": "string",
                    "description": "Geocoder type."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The checked batch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CheckedVehicle"
                      }
                    },
                    "limit_exceeded": {
                      "type": "boolean",
                      "description": "`true` if the given batch was constrained by a limit."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Error 234: the file or batch exceeds a size limit.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/avatar/assign": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Assign vehicle icon",
        "description": "Assign an icon to a vehicle.\n\nSet `icon_id` to null to use an uploaded avatar instead of an icon.\n\n**`icon_color` is required** as well as `vehicle_id`.\n\nAlso accepts GET with the same parameters as query-string values.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleAvatarAssign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_id": {
                    "type": "integer",
                    "description": "ID of the vehicle."
                  },
                  "icon_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "ID of the icon. Null means use the uploaded avatar instead."
                  },
                  "icon_color": {
                    "type": "string",
                    "description": "Icon colour."
                  }
                },
                "required": [
                  "vehicle_id",
                  "icon_color"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Icon assigned",
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/avatar/upload": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Upload vehicle avatar",
        "description": "Upload an avatar image for a vehicle.\n\n**This is a multipart request**, not JSON: `multipart/form-data` with the image in a part named `file`. The file MIME type must be one of `image/jpeg`, `image/pjpeg`, `image/png`, `image/gif`, or `image/webp`.\n\nThe uploaded image becomes available at `<api_base_url>/<api_static_path>/vehicle/avatars/<file_name>`, and the returned name is also what `vehicle/list` reports as `avatar_file_name`.\n\nIf `redirect_target` is passed, the response is a redirect to that URL with `response=<urlencoded response json>` appended.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleAvatarUpload",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_id": {
                    "type": "integer",
                    "description": "Vehicle ID."
                  },
                  "file": {
                    "type": "string",
                    "description": "The image file.",
                    "format": "binary"
                  },
                  "redirect_target": {
                    "type": "string",
                    "description": "Optional. URL to redirect to after upload."
                  }
                },
                "required": [
                  "vehicle_id",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stored avatar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "type": "string",
                      "description": "Avatar file name."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Error 234: the file exceeds the size limit. Error 233: the file could not be processed.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/import/start": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Start vehicle import",
        "description": "Start importing vehicles from a spreadsheet previously uploaded through `data/spreadsheet/parse`.\n\nRequires the `vehicle_update` right.",
        "operationId": "vehicleImportStart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Name of the file preloaded with `data/spreadsheet/parse`."
                  },
                  "headers": {
                    "type": "array",
                    "description": "Column headers, naming which vehicle field each column holds.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "user_headers": {
                    "type": "array",
                    "description": "Optional. User-facing labels for the headers.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "filename",
                  "headers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The import process",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "type": "integer",
                      "description": "Process ID, to poll with `vehicle/import/read`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body carries the API-level error code in `status.code`. Validation failures also include an `errors` array naming each offending parameter.",
            "$ref": "#/components/responses/ResponseError"
          },
          "402": {
            "description": "Error 234: the file exceeds a size limit.",
            "$ref": "#/components/responses/ResponseError"
          },
          "429": {
            "description": "Error 15: too many requests, rate limit exceeded.",
            "$ref": "#/components/responses/ResponseError"
          },
          "default": {
            "$ref": "#/components/responses/ResponseError"
          }
        }
      }
    },
    "/vehicle/import/read": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Read vehicle import",
        "description": "Return the state of one import process.",
        "operationId": "vehicleImportRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "process_id": {
                    "type": "integer",
                    "description": "ID of the import process."
                  }
                },
                "required": [
                  "process_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The import process state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "`true` if request finished successfully.",
                      "readOnly": true,
                      "examples": [
                        true
                      ]
                    },
                    "value": {
                      "$ref": "#/components/schemas/ImportProcess"
                    }
                  }
                }
              }
            }
          },
[...]
